.weatherStat {
  background-color: var(--darkBlue-800);
  padding: 1.5rem;
  border: 0.15rem solid var(--darkBlue-700);
  border-radius: var(--radius-10);
}

.statTitle {
  font-size: clamp(1.4rem, 5vw, 1.8rem);
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.statUnit {
  font-size: clamp(1.8rem, 5vw, 3.2rem);
}

.statUnit span {
  font-weight: 200;
  margin-left: 0.2rem;
}
