.searchForm {
  position: relative;
  max-width: min(65rem, 100%);
  margin: 5rem auto 3rem;
}

.searchContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-lg);
}

.searchWrapper {
  position: relative;
  display: flex;
  flex: 0 1 80%;
  align-items: center;
}

.searchIcon {
  position: absolute;
  font-size: var(--font-xlg);
  left: 1rem;
}

.micBtn {
  position: absolute;
  right: 1rem;
  font-size: var(--font-xlg);
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--white);
  z-index: 10;
}

.micBtn::after {
  right: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--darkBlue-900);
  z-index: -1;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

:global(.active)::after {
  animation: pulseWave 1.5s ease-out infinite;
}

@keyframes pulseWave {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.searchInput {
  width: 100%;
  padding-inline: 4.5rem;
  font-size: 1.6rem;
  background-color: var(--darkBlue-700);
  color: var(--white);
}

.searchInput::placeholder {
  color: var(--white);
}

.searchBtn {
  flex: 1;
  padding-inline: var(--spacing-lg);
  cursor: pointer;
  background-color: var(--blue-500);
  color: var(--white);
  font-size: var(--font-md);
  text-transform: capitalize;
}

.searchBtn:active {
  transform: scale(0.98);
}

.searchBtn,
.searchInput {
  padding-block: var(--spacing-lg);
  border: none;
  outline: none;
  border-radius: var(--radius-8);
}

.searchItems {
  position: absolute;
  margin-top: var(--spacing-sm);
  padding: var(--spacing-md);
  width: 80%;
  height: 15rem;
  background-color: var(--darkBlue-700);
  border-radius: var(--radius-8);
  z-index: 10;
}

@media screen and (max-width: 900px) {
  .searchContainer {
    gap: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .searchForm {
    width: 100%;
  }
  .searchContainer {
    flex-direction: column;
    align-items: unset;
  }
  .searchWrapper,
  .searchBtn {
    flex: 1;
  }
}
